
:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-lightgrey: hsl(217, 12%, 63%);
  --clr-mediumgrey: hsl(216, 12%, 54%);
  --clr-darkblue: hsl(213, 19%, 18%);
  --clr-verydarkblue: hsl(216, 12%, 8%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--clr-verydarkblue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: var(--clr-darkblue);
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
}

.star {
  padding: 0.5rem;
}

h1 {
  padding: 0.5rem;
}
p {
  padding: 0.5rem;
}

.submit {
  padding: 0.7rem;
  border-radius: 1.4rem;
  width: 100%;
  border-color: transparent;
  background-color: var(--clr-orange);
}

.section-1 {

}

.section-2 {
  display: none;
}

.attribution { 
  font-size: 11px; text-align: center; 
  position: fixed;
  bottom: 1rem;
  align-self: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
